**/.gitignore
Dockerfile
.dockerignore
**/.idea
**/.git
docker-compose*.yaml

**/node_modules
**/.turbo

out

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions