**/.gitignore
Dockerfile
.dockerignore
**/.idea
**/.git
docker-compose*.yaml

**/build

**/node_modules
**/.turbo
**/.prisma/client

**/coverage

**/out

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions