:root {
  /*font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;*/

  color-scheme: light dark;
  background-color: #242424;
  font-size: 18px;
  line-height: 1.4;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary: #003a95;
  --brigham-teal: #009ca6;
  --secondary: #f3f3f3;
}

#root {
  display: flex;
  height: 100%;
  width: 100%;
}

.heading-text {
  font-size: 48px;
  line-height: 1.2;
  letter-spacing: -1.6px;
  font-weight: bold;
}

.text-block {
  max-width: 600px;
}
