.navbar {
  background-color: var(--secondary) !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
  height: 10vh !important;
  min-height: 80px !important;
}

.navbar-link:hover {
  /*text-decoration: var(--primary) underline;*/
  /*text-decoration-thickness: 2px;*/
  color: var(--brigham-teal) !important;
}

.hospitalLogo {
  width: 250px;
  height: auto;
  margin-bottom: 8px;
}
