.navBar {
    background-color: #012D5A;
    text-align: center;
    padding: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.hospitalLogo {

    width: 250px;
    margin: 5px 30px 5px 30px;
}

.navBarText {
    color: white;
    margin: 0px 30px 0px 30px;
    text-align: start;
}

.navBarLogin {
    color: white;
    width: 250px;
    margin: 0px 30px 0px 30px;
    text-align: end;
}

.navBarLink {
    color: white;
    margin: 0px 7px 0px 7px;
}
.linkdiv {
    flex-grow: 1;
    background-color: #012D5A;
    text-align: center;
    padding: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}